/* step 1 */
#logo {
    animation-name: logo;
    animation-duration: 5s;
}

@keyframes logo {
    from {
        width: 20px;
        opacity: 0;
    }
    to {
        width: 475px;
        opacity: 1;
    }
}

/* step 2 */
body {
    font-family: "Poppins", serif;
    background-image: url(../images/concrete_seamless.png);
    background-color: #f1f1f1;
}

/* step 3 */
header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* step 4 */
.nav_links {
    display: flex;
    flex-direction: column;
}

/* step 5 */
a:link, a:visited {
    color: blue; 
}

/* step 6 */
.card > header {
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0px 20px 0px;
    border-radius: 50px 50px 0px 0px;
}

/* steps 7 and 8 */
.card{
    border-radius: 50px 50px 0px 0px;
    flex-basis: 450px;
}

.pricing {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: row;
    flex-wrap: wrap;
}

/* step 9 */
.gallery img{
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

/* step 10 */
.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; 
}

@media (min-width: 900px) {
    /* step 11 */
    header {
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .nav_links {
        flex-direction: row;
    }

    /* step 12 */
    .pricing {
        align-items: center;
    }

    .card {
        flex-basis: 275px;
    }

    /* step 13 */
    body > header{
        top: 0;
        position: sticky;
    }
}

/* step 14 */
@media (prefers-reduced-motion){
    #logo{
        animation: none;
    }
}

@media print {
    /* step 15 and 16 */
    body {
        font-family: "Arial", "Helvetica";
        background-image: none;
    }

    /* step 17 */
    nav {
        width: 100%;
    }

    .nav_links {
        flex-direction: row;
        justify-content: space-around;
    }

    /* step 18 */
    .pricing {
        align-items: flex-end;
        display: flex;
        flex-wrap: nowrap;
    }

    /* step 19 */
    .card {
        border: 2px solid #45ADDD;
        flex-basis: 325px;
    }

    /* step 20 */
    .gallery, #gallery {
        display: none;
    }

    /* step 21 */
    /* TODO */

}